
<div id="LoadingSpinG">
    <div class="blockG" id="RotateG01"></div>
    <div class="blockG" id="RotateG02"></div>
    <div class="blockG" id="RotateG03"></div>
    <div class="blockG" id="RotateG04"></div>
    <div class="blockG" id="RotateG05"></div>
    <div class="blockG" id="RotateG06"></div>
    <div class="blockG" id="RotateG07"></div>
    <div class="blockG" id="RotateG08"></div>
</div>
<div id="AjaxLoaderBG"></div>