@using ERPIndia.Class.Helper;
@{
    var pagingParams = (IPagingParams)ViewBag.PagedList;
    int startRec = ((ViewBag.PageNo - 1) * ViewBag.PageSize) + 1, endRec;

    if (ViewBag.PageSize == 0)
    {
        endRec = startRec + pagingParams.TotalItemCount - 1;
    }
    else
    {
        endRec = startRec + ViewBag.ListRecords - 1;
    }    
}
<div class="row">
    <div class="col-md-3 col-sm-12">
        @if (Model != null && Model.Count > 0)
        {
            <div>
                @string.Format(StringConstants.RecordStatus, startRec, endRec, pagingParams.TotalItemCount)
            </div>
        }
    </div>
    <div class="col-md-6 col-sm-12">
        <div>
            <label>
                @Html.DropDownList("ddlPageSize", CommonLogic.GetPageDropDownList(string.Empty, ERPIndia.ERPIndiaApplication.Setting.PageSize.ToString()), new { @class = "form-control input-sm input-small input-inline" })
                <span style="vertical-align: middle;">Record(s) per page</span>
            </label>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="dataTables_paginate paging_bootstrap_full_number">
            @Html.PagedListPager((IPagingParams)ViewBag.PagedList, page => Url.Action("Index", new { page, pageSize = ViewBag.PageSize, searchField = ViewBag.SearchField, searchValue = ViewBag.SearchValue, sortField = ViewBag.SortField, sortOrder = ViewBag.SortOrder }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "divPageBody" }))
        </div>
    </div>
</div>
