@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null; 
}
<div class="main">
    <div class="container">
        <div class="row margin-bottom-40">
            <div class="col-md-12 col-sm-12">
                <div class="content-page page-500">
                  
                    <div class="details">
                        <h3>Oops! Something went wrong.</h3>
                        <p>
                            Please make sure you have provided correct input and try again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

